<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Team url:</b>
  <%= @team.team_url %>
</p>

<h1>Players</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Team</th>
    <th>Eligible Position</th>
    <th>Roster Status</th>
  </tr>

<% @team.players.each do |player| %>
  <tr>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.nfl_team %></td>
    <td><%= player.eligible_positions %></td>
    <td><%= player.roster_position %></td>
  </tr>
<% end %>
</table>


<%= @response %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
