<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Team url:</b>
  <%= @team.team_url %>
</p>

<h1>Players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Eligible Position</th>
    <th>Roster Status</th>
  </tr>

<% @team.players.each do |player| %>
  <tr>
    <td><%= link_to player.name, player_path(player) %></td> 
    <td><%= @team.name %></td>
    <td><%= player.eligible_position_one %></td>
    <td><%= player.lineup_position %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
