<p id="notice"><%= notice %></p>

<h3> Account Info </h3>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h3> Your Authentications </h3>

<table>
  <tr>
    <th>Provider</th>
    <th>User ID</th>
  </tr>

<% if @user.authentications.any? %>
  <% @user.authentications.each do |auth| %>
    <tr>
      <td><%= auth.provider %></td>
      <td><%= auth.uid %></td>
      <td><%= link_to 'Destroy', auth, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
<% else %>
  <%= link_to "Add Yahoo Authentication Now", "/auth/yahoo" %><br><br>
   <%= link_to "Add CBS Authentication Now", "/auth/cbs" %>
<% end %>
</table><br>

<!-- Team.get_team_details(session, current_user)
Team.get_mlb_team_details(session, current_user)
Team.get_players(session, current_user) -->

<%= link_to "Get my yahoo baseball teams", :controller => "yahoo", :action => "yahoo_mlb_teams", :id => @user %>  <br>
<%= link_to "bench player", :controller => "yahoo", :action => "bench_player", :id => @user %>  <br><br>

<table>
  <tr>
    <th>Team Name</th>
    <th>Players</th>
  </tr>

<% if @user.teams.any? %>
    <% @user.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'View Team', team_path(team.id) %></td>
      </tr>
  <% end %>
<% end %>
</table>


