<p id="notice"><%= notice %></p>

<h1> <%= @player.name %> </h1>
<h2> <%= @player.team %> </h2>
<h2> <%= @player.position(@player.lineup_position) %> </h2>
<h3> <%= "#{@player.age} Years Old" %> </h3>

<table>
	<tr>
	  <th>Article</th>
	</tr>

	<tr>
	  <% @player.player_articles.each do |article| %>
	  	<% current_article = PlayerFeed.find(article.player_feed_id) %>
	  	<td><%= raw current_article.description %></td>
	</tr>
	<% end %>
</table>

 <% if @player.lineup_position != "1" %>
    <%= render 'batter_stats' %>
 <% else %>
    <%= render 'pitcher_stats' %>
 <% end %>



<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
