<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.last_name %>
</p>

<p>
  <b>Latest News:</b>
  <% @player.player_feeds.each do |news_article| %>
  <%= news_article.title %>
  <% end %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
